<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Yahia.The.Best.i_am_rish">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
